.friendcard {
  width: 100%;
  padding: 0px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-flex;
}
.friendcard > div {
  width: 50%;
  padding: 5px;
}
.imgshow {
  width: 25%;
}
.imgshow img {
  width: 15%;
  margin-top: 13px;
  cursor: pointer;
  border: 1px solid black;
}
.showNamed {
  font-weight: bolder;
}
p:nth-child(2) {
  font-weight: 100;
}
